@font-face {
  font-family: Jash;
  src: url("./Asserts/fonts/ComforterBrush-Regular.ttf");
}

@font-face {
  font-family: Gamer;
  src: url("./Asserts/fonts/TarrgetExpanded-Z3ZJ.otf");
}

@font-face {
  font-family: Designer;
  src: url("./Asserts/fonts/IAmADesigner.otf");
}
@font-face {
  font-family: Prince;
  src: url("./Asserts/fonts/PRINP___.ttf");
}
@font-face {
  font-family: disney;
  src: url("./Asserts/fonts/waltograph.regular.ttf");
}

nav {
  background-color: rgb(0, 0, 0);
}
.HomeBody {
  background-color: rgb(24, 22, 22);
}
::-webkit-scrollbar {
  display: none;
}
